* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    /* Better for fluid UI changes */
    transition: all 0.3s ease;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 550px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    border-radius: 50px;
}

.search {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.search input {
    height: 40px;
    width: 250px;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 20px;
    text-indent: 15px;

}

.search button {
    height: 40px;
    width: 50px;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.search button:hover {
    background: rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;
}

.weather h2 {
    font-size: 50px;
    color: white;
    font-weight: lighter;
}

.weather h3 {
    font-size: 35px;
    color: white;
    font-weight: lighter;
}

.weather {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.weather img {
    height: 250px;
    width: 250px;
}

.weather1 {
    padding: 20px;
    display: flex;
    gap: 50px;
}

.weather1 div {
    display: flex;
    gap: 5px;
}

.inner {
    display: flex;
    flex-direction: column;
}

.inner h2 {
    color: white;
}

.inner p {
    color: white;
}

.image {
    height: 50px;
    width: 50px;
}

.error{
    font-size: 12px;
    color: red;
    font-weight: normal;
    margin-left: 10px;
}